<div class="mt-6">
<form class="max-w-sm mx-auto" id="login-form">
    <div class="mb-5">
        <label for="email" class="block mb-2 font-medium text-gray">Email</label>
        <input type="email" id="email-signin" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2 block w-full" placeholder="name@example.com" required/>
    </div>
    <div class="mb-5">
         <label for="password" class="block mb-2 font-medium text-gray">Password</label>
        <input type="password" id="password-signin" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2 block w-full" required/>
    </div>
    <div class="mb-5">
        <p>Not a user yet? <a href='/signup' class="underline">Create account</a></p>
        </div>
    <div class="flex items-start mb-5">
        <button type="submit" class="bg-blue-400 border border-blue-500 rounded-lg p-2 w-full">Log In</button>
    </div>

</form>
</div>
<script src="./js/login.js"></script>