<div class="mt-6">
    <h1 class="text-xl">Sign up</h1>
<form class="max-w-sm mx-auto" id="signup-form">
    <div class="mb-5">
        <label for='name-signup' class="block mb-2 font-medium text-gray">Name</label>
        <input id="name-signup" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2 block w-full" placeholder="John Doe" required/>
    </div>
    <div class="mb-5">
        <label for="email-signup" class="block mb-2 font-medium text-gray">Email</label>
        <input type="email" id="email-signup" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2 block w-full" placeholder="name@example.com" required/>
    </div>
    <div class="mb-5">
         <label for="password-signup" class="block mb-2 font-medium text-gray">Password</label>
        <input type="password" id="password-signup" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2 block w-full" required/>
    </div>
    <div class="flex items-start mb-5">
        <button type="submit" class="bg-blue-400 border border-blue-500 rounded-lg p-2 w-full">Sign Up</button>
    </div>

</form>
</div>
<script src="./js/signup.js"></script>